<ng-container *ngIf="url$ | async as url">
  <div [ngSwitch]="vhsStatus$ | async" class="old-television">
    <iframe
      *ngSwitchCase="'valid'"
      [src]="url"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
    ></iframe>

    <div *ngSwitchCase="'unauthorized'" class="flex center align">
      ⚠️ this video can only be watched on youtube, here is the&nbsp;
      <a [href]="external$ | async" target="_blank">link</a>
    </div>

    <div *ngSwitchCase="'invalid'" class="flex center align">
      ⚠️ unavailable video :(
    </div>
  </div>
</ng-container>

<div *ngIf="vhs.length > 1" class="center gap">
  <p
    *ngFor="let _ of vhs; index as i"
    class="link small"
    [class.active]="i === (vhsIndex$ | async)"
    (click)="vhsIndex$.next(i)"
  >
    Option {{ i + 1 }}
  </p>
</div>
