@font-face {
  font-family: "pixel";
  src: url("/pixel.ttf");
}

body {
  font-family: "pixel";
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 25px 35px 25px;
  color: #333;
}

div {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: orangered;
}

a:visited {
  color: salmon;
}

.link {
  cursor: pointer;
}

/* display */
.block {
  display: block;
}

.grid {
  display: grid;
}

/* flex */
.flex {
  display: flex;
}

.evenly {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: 30px;
}

.gap-sm {
  gap: 10px;
}

/* img */
.disable {
  filter: grayscale(1);
  pointer-events: none;
}

.pixelate {
  image-rendering: pixelated;
}

.red-to-orange {
  filter: hue-rotate(-45deg);
}

.hardcoded-size {
  height: 100px;
  width: 100px;
}

/* random */
.small {
  transform: scale(0.8);
}

.old-television {
  aspect-ratio: 4 / 3;
  height: 100%;
  width: 100%;
  box-shadow: dodgerblue 0 0 0 2.5px, springgreen 0 0 0 5px, salmon 0 0 0 7.5px;
}

.old-television > * {
  width: 100%;
}

.corner {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: scale(1.4);
  margin: 15px;
}

/* text */
.primary {
  color: orangered;
}

.text-disable {
  color: darkgray;
  pointer-events: none;
}

.active {
  text-decoration: underline;
}

/* space */
.space-lg {
  margin-top: 55px;
}

.space-md {
  margin-top: 27px;
}

.space-sm {
  margin-top: 15px;
}
