@font-face {
  font-family: 'pixel';
  src: url('/pixel.ttf');
}

body {
  font-family: 'pixel';
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 25px 35px 25px;
  color: #333;
}

div {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: orangered;
}

a:visited {
  color: coral;
}

.link {
  cursor: pointer;
}

/* display */
.block {
  display: block;
}

.grid {
  display: grid;
}

/* flex */
.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: 30px;
}

.gap-md {
  gap: 14px;
}

.gap-sm {
  gap: 10px;
}

.gap-sm-x {
  gap: 0 10px;
}

.self-center {
  align-self: center;
}

/* img */
.disable {
  filter: grayscale(1) !important;
  pointer-events: none;
}

.pixelate {
  image-rendering: pixelated;
}

.red-to-orange {
  filter: hue-rotate(-45deg);
}

.img-lg {
  height: 100px;
  width: 100px;
}

.img-md {
  height: 75px;
  width: 75px;
}

/* random */
.small {
  transform: scale(0.8);
}

.old-television {
  aspect-ratio: 4 / 3;
  height: 100%;
  width: 100%;
  box-shadow: dodgerblue 0 0 0 2.5px, springgreen 0 0 0 5px, salmon 0 0 0 7.5px;
}

.old-television > * {
  width: 100%;
}

.corner {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: scale(1.4);
  margin: 15px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 15px;
  border-radius: 4px;
}

.flow-x {
  overflow-x: scroll;
}

/* text */
.text-center {
  text-align: center;
}

.primary {
  color: dodgerblue;
}

.neon {
  text-shadow: darkgray 1px 0 10px;
}

.text-disable {
  color: darkgray;
  pointer-events: none;
}

.active {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.h2 {
  font-size: 20px;
}

/* space */
.space-lg {
  margin-top: 55px;
}

.space-md {
  margin-top: 27px;
}

.space-sm {
  margin-top: 15px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-0 {
  margin-bottom: 0;
}

.p {
  padding: 15px;
}

.p-l-xs {
  padding-left: 2px;
}
